POSTGRES_DATABASE=vd
POSTGRES_HOST=host.docker.internal
POSTGRES_USERNAME=vd
POSTGRES_PASSWORD=xxx
POSTGRES_PORT=5433

N8N_EDITOR_BASE_URL=http://localhost:5678
N8N_HOST=localhost
N8N_PORT=5678
WEBHOOK_URL=http://localhost:5678
GENERIC_TIMEZONE=America/Argentina/Buenos_Aires

CHATWOOT_BOT_ACCESS_TOKEN=xxx
CHATWOOT_API_URL=http://rails:3000/api/v1

TWENTY_BASE_URL=http://host.docker.internal:8000
TWENTY_API_KEY=xxx