POSTGRES_DB=xxx
POSTGRES_USER=xxx
POSTGRES_PASSWORD=xxx
DATABASE_URL=postgresql+psycopg://xxx:xxx@postgres:5432/xxx

OPENAI_API_KEY=xxx
OPENAI_MODEL_ANSWER=gpt-4o-mini
KNOWLEDGE_FILE="./app/rag_engine/kb.txt"
TOP_K=4
OPENAI_EMBED_MODEL=text-embedding-3-small
RAG_CROSS_ENCODER_MODEL=cross-encoder/ms-marco-MiniLM-L-6-v2

HANDOFF_PUBLIC_REPLY="Ok, please hold on while I connect you with a human agent."
HANDOFF_PRIVATE_NOTE= "Bot routed the conversation for human follow-up."
HANDOFF_PRIORITY= "high"

CHATWOOT_BOT_ACCESS_TOKEN=xxx
CHATWOOT_API_URL=http://rails:3000/api/v1

TWENTY_BASE_URL=http://host.docker.internal:8000
TWENTY_API_KEY=xxx